/* Estilização geral */
body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #dbfff7;
}   

.title {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    text-align: center;
    color: #2a93d5;
    animation: loop 5s infinite linear, mover 2s infinite ease-in-out;
}


/* Mosaico de músicas */
.mosaico-musicas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Cada bloco de música */
.musica {
    width: calc(30% - 100px); /* 2 colunas por linha com espaçamento */
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden; /* Esconde a imagem que ultrapassa as bordas arredondadas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.musica:hover {
    transform: translateY(-5px); /* Efeito de elevação ao passar o mouse */
}

/* Link da música */
.musica a {
    display: block;
    color: #333;
    text-decoration: none;
}

/* Imagem da capa */
.musica img {
    width: 100%;
}

/* Título da música */
.musica h3 {
    padding: 10px;
    font-size: 1.2em;
    margin: 0;
    background-color: white;
}

@keyframes loop {
    0% {
      color: #2a93d5; /* Azul marinho */
    }
    50% {
      color: #cad52a/* Azul cerúleo */
    }
    100% {
        color: #d52a8e; /* Azul claro */
    }
  }

@keyframes mover {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-2px); /* Movendo para cima */
    }
    100% {
      transform: translateY(0); /* Retornando à posição inicial */
    }
  }

/* Responsividade - 1 coluna em telas menores */
@media screen and (max-width: 600px) {
    .musica {
        width: 100%;
    }
}