.title {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    text-align: center;
    color: #2a93d5;
}

.song-container {
    display: flex;
    align-items: center; 
    margin: 0 auto;
    background-color: transparent; /* Makes the background transparent */
}

.song-container:nth-of-type(odd){
    flex-direction: row-reverse;
}

.song-video {
    width: 50%;
}

.song-video iframe {
    width: 100%;
    height: 400px;
}

.song-translation {
    width: 50%;
}

iframe {
    border-radius: 10px;
}

.title {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    text-align: center;
    animation: neonPop 2s linear infinite; /* Animação neon */
  }
  
  @keyframes neonPop {
    0%, 100% {
      text-shadow: 0 0 1px rgb(175, 255, 125), 0 0 2px rgb(175, 255, 125), 0 0 3px rgb(175, 255, 125);
    }
    50% {
      text-shadow: 0 0 1px #00ffea, 0 0 2px #00ffea, 0 0 3px #00ffea;
    }
  }

/* ------------------------------------------------- */


@media screen and (max-width: 1024px) {
    .title {
        font-size: 15px;
    }
    



}